<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>template</h1>
    <%include partials/header%>
    <%if (page == "main") {%>
        <%include pages/index%>
    <%}%>
    <%if (page == "about") {%>
        <%include pages/about%>
    <%}%>
</body>
</html>